html {
	background: #EFEFEF;
	font-family: sans-serif;
}

nav {
	font-weight: bold;
	background: #CCCCCC;
	border: solid 1px;
	border-radius: .25em;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 1em 1em;
}

nav span {
	display: inline-block;
	padding: 1em 1em;
}

aside {
	border: solid 1px;
	border-radius: .25em;
	padding: 1.5em;
	margin-top: 2.0em;
	background: #CCCCCC;
}

footer {
	text-align: center;
}

table {
	border: solid 1px;
	border-radius: .25em;
}

th {
	border: solid 1px;
}

td {
	border: solid 1px;
}

dt {
	font-weight: bold;
}

hr {
	margin: 1em 0 1em 0;
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2.0em;
}

div.fileblock {
	margin: .5em;
	clear: both;
}

div.advertisement {
	margin: 2.0em;
}

pre {
	border: solid 1px;
	border-radius: .25em;
	padding: 1.5em;
	background: #E0E0E0;
	overflow: auto;
	width: auto;
	min-height: 5em;
	margin-bottom: 1.0em;
}

pre.console {
	background: #000000;
	color: #C0C0C0;
	border-radius: 0;
	font-size: 1.5em;
	padding: 0;
	padding-bottom: 0.25em;
}

pre.console:before {
	content: "C:\\Windows\\system32\\cmd.exe";
	display: block;
	height: 1.5em;
	padding-top: 0.25em;
	background: #FFFFFF;
	color: #000000;
	border: solid 1px;
}

code {
	font-size: 1.35em;
}

div.versioninfo {
	margin-right: 2em;
	text-align: right;
}

img.avatar {
	margin: 1em;
}

@media (min-width: 921px) {
	aside {
		display: inline-block;
		vertical-align: top;
	}

	main {
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}
}

@media screen and (prefers-color-scheme: dark) {
	html {
		background-color: #212121;
		color: #698CC0;
	}

	nav {
		font-weight: bold;
		background: #000000;
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
		color: #FFAB3F;
	}

	pre {
		background: #000000;
	}

	pre.console {
		color: #C0C0C0;
	}

	pre.console:before {
		background: #FFFFFF;
		color: #000000;
	}

	textarea,
	select {
		background-color: #111111;
		color: #CCCCCC;
	}

	textarea:hover,
	textarea:focus,
	select:hover,
	select:focus {
		background-color: #151515;
		color: #EEEEEE;
	}

	a {
		color: #C9BE89;
	}

	a:hover {
		color: #EEFEBB;
	}
}