html
{
	background:#EFEFEF;
	font-family:sans-serif;
}

header{}

main{}

footer
{
	text-align:center;
}

aside{}

nav
{
	font-weight:bold;
	background:#CCCCCC;
	border:solid 1px;
	border-radius:.25em;
}

nav li
{
	display:inline;
}

nav a
{
	display:inline-block;
	text-decoration:none;
	padding: 1em 1em;
}

nav span
{
	display:inline-block;
	padding: 1em 1em;
}

table
{
	border:solid 1px;
	border-radius:.25em;
}

th
{
	border:solid 1px;
}

td
{
	border:solid 1px;
}

dt
{
	font-weight:bold;
}

hr
{
	margin:1em 0 1em 0;
	clear:both;
}

div.fileblock
{
	margin:.5em;
	clear:both;
}

pre
{
	border:solid 1px;
	border-radius:.25em;
	padding:.5em;
	background:#E0E0E0;
}

pre.samp
{
	color:#FFFFFF;
	font-size:1.25em;
	border:solid 1px;
	border-radius:0;
	padding:.5em;
	background:#000000;
}

code
{
	font-size:1.25em;
}

div.posternameblock{}

img.avatar
{
	float:left;
	margin:0em .5em .5em 0em;
}
