html
{
	background:#EFEFEF;
	font-family:sans-serif;
}

header{}

main{}

footer
{
	text-align:center;
}

aside{}

nav
{
	font-weight:bold;
	background:#CCCCCC;
	border:solid 1px;
	border-radius:.25em;
}

nav p
{
	display:inline-block;
	width:8em;
	height:2.5em;
	margin:1em 0 0 0;
	text-align:center;
}

nav a
{
	display:block;
	text-decoration:none;
	width:100%;
	height:100%;
	vertical-align:middle;
}

ol.contents
{
	margin:.25em;
	background:#DDDDDD;
	border:solid 1px;
	border-radius:.25em;
}

ol.contents li
{
	padding:.5em .5em .5em .5em;
}

table
{
	border:solid 1px;
	border-radius:.25em;
}

th
{
	border:solid 1px;
}

td
{
	border:solid 1px;
}

dt
{
	font-weight:bold;
}

p
{
	word-wrap:break-word;
}

hr
{
	margin:1em 0 1em 0;
	clear:both;
}

div.fileblock
{
	margin:.5em;
	clear:both;
}

pre
{
	border:solid 1px;
	border-radius:.25em;
	padding:.5em;
	background:#E0E0E0;
}

div.posternameblock{}

img.avatar
{
	float:left;
	margin:0em .5em .5em 0em;
}
