:root {
	--main-bg-color: #EFEFEF;
	--main-fore-color: #000000;
	--menu-bg-color: #CCCCCC;
	--aside-bg-color: #CCCCCC;
	--fenced-code-bg-color: #E0E0E0;
	--a-color: #0000FF;
	--a-hover-color: #FF0000;
	--a-visited-color: #8000FF;
	--header1-6-color: #000000;
	--header1-6-weight: normal;
}

html {
	background: var(--main-bg-color);
	color: var(--main-fore-color);
	font-family: sans-serif;
}

body {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

nav {
	font-weight: bold;
	background: var(--menu-bg-color);
	border: solid 1px;
	border-radius: .25em;
	margin: 5px;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 1em 1em;
}

main {
	max-width: 850px;
	margin: 5px;
}

aside {
	border: solid 1px;
	border-radius: 0.25em;
	padding: 5px;
	margin-top: 2.0em;
	background: var(--aside-bg-color);
	max-width: 320px;
}

footer {
	text-align: center;
}

table {
	border: solid 1px;
	border-radius: .25em;
}

th {
	border: solid 1px;
}

td {
	border: solid 1px;
}

dt {
	font-weight: bold;
}

hr {
	margin: 1em 0 1em 0;
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2.0em;
	color: var(--header1-6-color);
	font-weight: var(--header1-6-weight);
}

div.memorydump {
	font-family: monospace;
}

pre {
	border: solid 1px;
	border-radius: .25em;
	padding: 1.0em;
	background: var(--fenced-code-bg-color);
	overflow: auto;
	width: auto;
	min-height: 5em;
	margin-bottom: 2.0em;
	word-wrap: break-word;
	tab-size: 4;
}

pre.console {
	background: #000000;
	color: #C0C0C0;
	border-radius: 0;
	padding: 0;
	padding-bottom: 0.25em;
}

pre.console:before {
	content: "🖥C:\\Windows\\system32\\cmd.exe";
	display: block;
	height: 1.5em;
	padding-top: 0.25em;
	background: #FFFFFF;
	color: #000000;
	border: solid 1px;
}

div.versioninfo {
	text-align: right;
}

a {
	color: var(--a-color);
}

a:hover {
	color: var(--a-hover-color);
}

a:visited {
	color: var(--a-visited-color);
}

@media (min-width: 921px) {
	aside {
		display: inline-block;
		vertical-align: top;
	}

	main {
		display: inline-block;
		vertical-align: top;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #180000;
		--main-fore-color: #5097FF;
		--menu-bg-color: #080000;
		--aside-bg-color: #080000;
		--fenced-code-bg-color: #080000;
		--a-color: #f1ca07;
		--a-hover-color: #EEFEBB;
		--a-visited-color: #9461c7;
		--header1-6-color: #CCCCCC;
		--header1-6-weight: bold;
	}
}