<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" $if(dir)$dir="$dir$"$endif$ lang="$lang$" xml:lang="$lang$">
<head>

	<title>$pagetitle$ — $subtitle$</title>

$if(description)$
	<meta name="description" content="$description$" />
$endif$

$for(author-meta)$
	<meta name="author" content="$author-meta$" />
$endfor$

$if(date-meta)$
	<meta name="dcterms.created" content="$date-meta$" />
$endif$

$if(ModifiedDate)$
	<meta name="dcterms.modified" content="$ModifiedDate$" />
$endif$

$if(keywords)$
	<meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

$for(css)$
	<link rel="stylesheet" href="$css$" type="text/css" />
$endfor$

$if(HomePage)$
	<link href="/rss.rss" type="application/rss+xml" rel="alternate" title="RSS 2.00" />
$endif$

$if(math)$
  $math$
$endif$

$for(header-includes)$
  $header-includes$
$endfor$

</head>

<body>

<header id="MainHeader">
	
	<nav id="MainMenu">
		<ul>
$if(HomePage)$
			<li><span>Главная</span></li>
$else$
			<li><a href="/">Главная</a></li>
$endif$
		
$if(ArticlesDefaultPage)$
			<li><span>Статьи</span></li>
$else$
			<li><a href="/articles/">Статьи</a></li>
$endif$
		
$if(CategoriesDefaultPage)$
			<li><span>Рубрики</span></li>
$else$
			<li><a href="/categories/">Рубрики</a></li>
$endif$

$if(TutorialDefaultPage)$
			<li><span>Уроки</span></li>
$else$
			<li><a href="/tutorials/">Уроки</a></li>
$endif$

$if(TasksDefaultPage)$
			<!-- <li><span>Задачи</span></li> -->
$else$
			<!-- <li><a href="/tasks/">Задачи</a></li> -->
$endif$

$if(ProjectsDefaultPage)$
			<li><span>Проекты</span></li>
$else$
			<li><a href="/projects/">Проекты</a></li>
$endif$

$if(UsersDefaultPage)$
			<li><span>Персонажи</span></li>
$else$
			<li><a href="/users/">Персонажи</a></li>
$endif$

$if(HelpDefaultPage)$
			<li><span>Информация</span></li>
$else$
			<li><a href="/help/">Информация</a></li>
$endif$
		</ul>
	</nav>
	
</header>

<main id="MainContent">
$for(include-before)$
$include-before$
$endfor$

$body$

$for(include-after)$
$include-after$
$endfor$
</main>

<hr />

<footer id="MainFooter">
	
	<p>«Пакетные файлы» создали этот сайт <time datetime="2016-03-11T05:00:00+07:00">11 марта 2016 года</time></p>
	
	<p id="WebSiteCounters">

$if(HomePage)$
		<a href="https://webmaster.yandex.ru/sqi?host=www.freebasic.su" title="Смотреть достижения сайта на Яднекс Вебмастере">
			<img width="88" height="31" alt="Индекс качества сайта по мнению Яндекса равен 10" src="https://yandex.ru/cycounter?www.freebasic.su&amp;theme=light&amp;lang=ru" />
		</a>
$endif$

	</p>

	<script>
		var ImgLiveInternet=document.createElement("img");
		ImgLiveInternet.src="https://counter.yadro.ru/hit?t16.6;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();
		ImgLiveInternet.alt="Логотип LiveInternet";
		ImgLiveInternet.width=88;
		ImgLiveInternet.height=31;
		
		var HrefLiveInternet=document.createElement("a");
		HrefLiveInternet.href="https://www.liveinternet.ru/stat/freebasic.su";
		HrefLiveInternet.title="Смотреть статистику и счётчики посещений сайта на LiveInternet";
		HrefLiveInternet.appendChild(ImgLiveInternet);
		
		var idL=document.getElementById("WebSiteCounters");
		idL.appendChild(HrefLiveInternet);
	</script>

</footer>

</body>
</html>
