<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" $if(dir)$dir="$dir$"$endif$ lang="$lang$" xml:lang="$lang$">
<head>

	<title>$pagetitle$ — $subtitle$</title>

$if(description)$
	<meta name="description" content="$description$" />
$endif$

$for(author)$
	$if(author.name)$
		<meta name="author" content="$author.name$$if(author.affiliation)$ ($author.affiliation$)$endif$" />
	$else$
		$-- $for(author-meta)$
		$-- 	<meta name="author" content="$author-meta$" />
		$-- $endfor$
	$endif$
$endfor$

$if(date-meta)$
	<meta name="dcterms.created" content="$date-meta$" />
$endif$

$if(ModifiedDate)$
	<meta name="dcterms.modified" content="$ModifiedDate$" />
$endif$

$if(keywords)$
	<meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<style>${ styles.css.utf-8wobom.txt() }</style>
	
$for(css)$
	<link href="$css$" type="text/css" rel="stylesheet" />
$endfor$

$-- $if(HomePage)$
$-- 	<link href="/rss.rss" type="application/rss+xml" rel="alternate" title="RSS 2.00" />
$-- $endif$

$if(math)$
	$math$
$endif$

$for(header-includes)$
	$header-includes$
$endfor$

</head>

<body>

<header id="MainHeader">
	
	<nav id="MainMenu">
		<ul>
$if(HomePage)$
			<li><span>Главная</span></li>
$else$
			<li><a href="/">Главная</a></li>
$endif$

$if(ArticlesDefaultPage)$
			<li><span>Статьи</span></li>
$else$
			<li><a href="/articles/">Статьи</a></li>
$endif$

$if(TutorialDefaultPage)$
			<li><span>Уроки</span></li>
$else$
			<li><a href="/tutorials/">Уроки</a></li>
$endif$

$if(ProjectsDefaultPage)$
			<li><span>Проекты</span></li>
$else$
			<li><a href="/projects/">Проекты</a></li>
$endif$

$if(UsersDefaultPage)$
			<li><span>Персонажи</span></li>
$else$
			<li><a href="/users/">Персонажи</a></li>
$endif$

$if(HelpDefaultPage)$
			<li><span>Информация</span></li>
$else$
			<li><a href="/help/">Информация</a></li>
$endif$
		</ul>
	</nav>
	
</header>

<main>

$for(include-before)$
$include-before$
$endfor$

$if(VersionInfoDefined)$
	<div class="versioninfo">
$for(author)$
	$if(author.name)$
		<p class="authorname">Автор: <a href="$author.website$">$author.name$</a>$if(author.affiliation)$ ($author.affiliation$)$endif$</p>
	$endif$
$endfor$
		
		<p class="publicationdate">Опубликовано: <time datetime="$PublicationDate$">$PublicationDateVerbose$</time></p>
		
		<p class="modifieddate">Исправлено: <time datetime="$ModifiedDate$">$ModifiedDateVerbose$</time></p>
		
		<p class="documentversion">Версия документа: $FileVersion$</p>
	</div>
$endif$

$body$

$for(include-after)$
$include-after$
$endfor$

</main>

<aside>
	<header id="AsideHeader">
		<div>Поблагодарить</div>
	</header>
	<p>
		<a href="https://pay.cloudtips.ru/p/78d0143c" title="Ссылка на сайт с донатами">Здесь можно угостить автора кофе! ☕️</a>
	</p>
	<p>
		<a href="/qrCode.png" title="QR‐код в оригинальном масштабе"><img src="/qrCode.png" alt="QR-код со ссылкой на донаты" width="285px" height="285px" loading="lazy" /></a>
	</p>
</aside>

<hr />

<footer>
	
	<p>«Пакетные файлы» создали этот сайт <time datetime="2016-03-11T05:00:00+07:00">11 марта 2016 года</time></p>
	
</footer>

</body>
</html>
